<!-- ./employee/templates/employee/list.html -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <th scope="row">{{ post.title }}</th>
      <td>{{ post.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="text-center">
  <a href="{% url 'post_create' %}"
    ><button type="button" class="btn btn-primary">Add New Info</button></a
  >
</div>
